---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/1234qwer/5.498384,118.280899,2020-04-07T00:00:00+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - "-422ms"
      X-Forecast-Api-Calls:
      - '11'
      X-Response-Time:
      - 10.784ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":5.498384,"longitude":118.280899,"timezone":"Asia/Kuching","currently":{"time":1586217600,"summary":"Humid
        and Mostly Cloudy","icon":"partly-cloudy-day","precipType":"rain","temperature":80.99,"temperatureError":2.2,"apparentTemperature":87.4,"dewPoint":76.06,"dewPointError":1.53,"humidity":0.85,"pressure":1010.87,"pressureError":1.59,"windSpeed":3.93,"windSpeedError":2.84,"windBearing":161,"windBearingError":36,"cloudCover":0.84,"cloudCoverError":0.06,"uvIndex":2},"hourly":{"summary":"Humid
        and mostly cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1586188800,"summary":"Humid
        and Mostly Cloudy","icon":"partly-cloudy-night","precipType":"rain","temperature":80.05,"temperatureError":2.2,"apparentTemperature":85.88,"dewPoint":76.14,"dewPointError":1.54,"humidity":0.88,"pressure":1010.61,"pressureError":1.59,"windSpeed":3.82,"windSpeedError":2.85,"windBearing":295,"windBearingError":37,"cloudCover":0.86,"cloudCoverError":0.06,"uvIndex":0},{"time":1586192400,"summary":"Humid
        and Mostly Cloudy","icon":"partly-cloudy-nigh[...]
